asgiref==3.11.0
diff-match-patch==20241021
Django==6.0
django-cors-headers==4.9.0
django-filter==25.2
django-import-export==4.3.14
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
pillow==12.0.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
redis==7.1.0
sqlparse==0.5.5
tablib==3.9.0
tzdata==2025.3
